Repository aialuke/prompt-improver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-protocol-validation, ml-contract-validation, performance-regression-check

.pre-commit-config.yaml:

repos:
  # Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.10
    hooks:
      - id: ruff
        name: ruff check
        args: [--fix, --exit-non-zero-on-fix, --preview]
        types_or: [python, pyi]
      - id: ruff-format
        name: ruff format
        types_or: [python, pyi]

  # Basic pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-docstring-first
      - id: debug-statements
      - id: name-tests-test
        args: [--pytest-test-first]

  # MyPy type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports, --check-untyped-defs]
        files: ^src/

  # Security scanning with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml, markdown, json]
        args: [--tab-width=2]

  # Git commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: 3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # Custom MCP protocol validation hook
  - repo: local
    hooks:
      - id: mcp-protocol-validation
        name: MCP Protocol Validation
        entry: python scripts/validate_mcp_protocol.py
        language: system
        files: ^src/.*mcp.*\.py$
        pass_filenames: true

  # Custom ML contract validation
  - repo: local
    hooks:
      - id: ml-contract-validation
        name: ML Contract Validation
        entry: python scripts/validate_ml_contracts.py
        language: system
        files: ^src/.*(ml|prompt|evaluation).*\.py$
        pass_filenames: true

  # Performance regression detection
  - repo: local
    hooks:
      - id: performance-regression-check
        name: Performance Regression Check
        entry: python scripts/check_performance_regression.py
        language: system
        files: ^src/.*\.py$
        pass_filenames: false
        stages: [pre-push]

# Global configuration
default_language_version:
  python: python3.11

# Skip hooks for specific scenarios
ci:
  skip: [performance-regression-check]  # Skip in CI to avoid duplicate runs

# Hook execution order
stages:
  - commit
  - manual
  - pre-push

Phase 4A: F401/F841 Automated Fixes - Major Progress
  artifacts/phase4/profile_refactored.py
  scripts/gradual_tightening.py
  scripts/openapi_snapshot.py
  src/prompt_improver/cli_refactored.py
  src/prompt_improver/database/models.py
  src/prompt_improver/database/performance_monitor.py
  src/prompt_improver/database/psycopg_client.py
  src/prompt_improver/installation/initializer.py
  src/prompt_improver/installation/migration.py
  src/prompt_improver/mcp_server/mcp_server.py
  src/prompt_improver/rule_engine/__init__.py
  src/prompt_improver/rule_engine/base.py
  src/prompt_improver/service/manager.py
  src/prompt_improver/service/security.py
  src/prompt_improver/services/ab_testing.py
  src/prompt_improver/services/advanced_pattern_discovery.py
  src/prompt_improver/services/analytics.py
  src/prompt_improver/services/llm_transformer.py
  src/prompt_improver/services/ml_integration.py
  src/prompt_improver/services/monitoring.py
  src/prompt_improver/services/prompt_improvement.py
  tests/cli/test_phase3_commands.py
  tests/conftest.py
  tests/database_helpers.py
  tests/integration/test_mcp_integration.py
  tests/integration/test_service_integration.py
Due: mcp-protocol-validation, ml-contract-validation, performance-regression-check

Update MCP_ROADMAP.md with progress tracker and integration guide
  MCP_ROADMAP.md
Due: none

Update Implementation Coverage Analysis with detailed progress breakdown
  MCP_ROADMAP.md
Due: none

Phase 1.1 Partial: Fixed some unused imports in dependency_parser.py
  src/prompt_improver/analysis/dependency_parser.py
Due: ml-contract-validation, performance-regression-check

Phase 1.2: Removed empty files (3 files)
  src/prompt_improver/learning/.!58857!rule_analyzer.py
  tests/unit/__init__.py
  tests/unit/automl/__init__.py
Due: ml-contract-validation, performance-regression-check

Phase 2.2: Manual cleanup of unused imports and variables
  src/prompt_improver/analysis/domain_detector.py
  src/prompt_improver/analysis/domain_feature_extractor.py
  src/prompt_improver/services/security/__init__.py
  src/prompt_improver/services/security/adversarial_defense.py
  src/prompt_improver/services/security/authentication.py
  src/prompt_improver/services/security/differential_privacy.py
  src/prompt_improver/services/security/federated_learning.py
Due: ml-contract-validation, performance-regression-check

Phase 3: Cleanup completion and comprehensive report
  CLEANUP_REPORT.md
Due: none

Phase 3: Cleanup completion and comprehensive report
  ML_PIPELINE_INTEGRATION_PLAN.md
Due: none

Phase 2.3: Systematic unused import removal - Part 1
  src/prompt_improver/analysis/domain_feature_extractor.py
  src/prompt_improver/learning/context_learner.py
  src/prompt_improver/optimization/dimensionality_reducer.py
Due: ml-contract-validation, performance-regression-check

Phase 2.3: Unused import removal - Part 2
  src/prompt_improver/database/__init__.py
  src/prompt_improver/evaluation/causal_inference_analyzer.py
  src/prompt_improver/learning/context_learner.py
  src/prompt_improver/optimization/advanced_ab_testing.py
  src/prompt_improver/tui/widgets/automl_status.py
Due: ml-contract-validation, performance-regression-check

Phase 2.3: Final unused import cleanup - 23 more errors fixed
  src/prompt_improver/installation/enhanced_quality_scorer.py
  src/prompt_improver/utils/health_checks.py
Due: ml-contract-validation, performance-regression-check

Add comprehensive cleanup completion summary
  CLEANUP_COMPLETION_SUMMARY.md
Due: none

Implement ML Pipeline Integration: Fix TrainingPrompt Model Disconnect
  migrations/env.py
  migrations/versions/add_training_prompt_model.py
  migrations/versions/update_training_prompts_columns.py
  src/prompt_improver/database/models.py
Due: ml-contract-validation, performance-regression-check

Implement automatic synthetic data integration for ML training
  src/prompt_improver/cli.py
  src/prompt_improver/learning/training_data_loader.py
  src/prompt_improver/services/prompt_improvement.py
Due: ml-contract-validation, performance-regression-check

Phase 1 Technical Debt Cleanup: Major file organization complete
  archive/2024-07-cleanup/debug-scripts/validation-scripts/validate_phase2_no_false_positives.py
  archive/2024-07-cleanup/debug-scripts/validation-scripts/validate_phase6.py
  archive/2024-07-cleanup/debug-scripts/validation-scripts/verify_fix.py
  archive/2024-07-cleanup/debug-scripts/validation-scripts/verify_no_false_outputs.py
  archive/2024-07-cleanup/debug-scripts/validation-scripts/verify_phase1_implementation.py
  archive/comprehensive_component_verification_test.py
  archive/comprehensive_legacy_cleanup_test.py
  tools/debug/debug_automl_status_comprehensive.py
  tools/debug/debug_automl_status_quality.py
  tools/debug/debug_automl_status_specific.py
  tools/debug/debug_automl_status_sync.py
Due: none

feat: Complete WebSocket 15.x upgrade with comprehensive testing
  requirements.txt
  tests/websocket_15x_integration_test.py
  tests/websocket_fastapi_integration_test.py
  tests/websocket_performance_test.py
  websocket_15x_upgrade_report.md
Due: none

feat: Add comprehensive Phase 4 refactoring real behavior testing suite
  PHASE1_MISSING_METRICS_IMPLEMENTATION_SUMMARY.md
  demo_phase1_metrics.py
  docs/PHASE4_REFACTORING_TESTING.md
  scripts/run_phase4_refactoring_tests.py
  scripts/validate_phase1_metrics.py
  src/prompt_improver/metrics/__init__.py
  src/prompt_improver/metrics/aggregation_engine.py
  src/prompt_improver/metrics/api_metrics.py
  src/prompt_improver/metrics/business_intelligence_metrics.py
  src/prompt_improver/metrics/dashboard_exports.py
  src/prompt_improver/metrics/ml_metrics.py
  src/prompt_improver/metrics/performance_metrics.py
  src/prompt_improver/metrics/system_metrics.py
  src/prompt_improver/performance/monitoring/health/service.py
  src/prompt_improver/performance/monitoring/metrics_registry.py
  test_phase1_metrics_standalone.py
  tests/integration/test_phase4_refactoring.py
  tests/unit/metrics/test_system_metrics.py
Due: ml-contract-validation, performance-regression-check

fix: Complete Week 6 CLI orchestration signal handling integration
  src/prompt_improver/cli/core/cli_orchestrator.py
  src/prompt_improver/cli/core/progress_preservation.py
  src/prompt_improver/cli/core/training_system_manager.py
  src/prompt_improver/cli/core/unified_process_manager.py
Due: ml-contract-validation, performance-regression-check

feat: Complete Phase 4 External Test Infrastructure Migration
  PHASE4_EXTERNAL_MIGRATION_COMPLETE.md
  pyproject.toml
  scripts/demonstrate_phase4_achievements.py
  scripts/setup_external_test_services.sh
  tests/conftest.py
  tests/test_phase4_external_migration_validation.py
Due: none

fix: Resolve all VS Code diagnostics in retry_config.py
  src/prompt_improver/core/retry_config.py
Due: ml-contract-validation, performance-regression-check
